@charset "UTF-8";

:root{
    --primeira-cor: #ACAFD4;
    --segunda-cor: #061761;
    --terceira-cor: #CCCCCC;
    --quarta-cor: #B6B6B6;
    --quinta-cor: #101C61;
    --sexta-cor: #0707ED;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #cccccc84;
}

main{
    margin: auto;
    width: 80%;
    background-color: var(--terceira-cor);
    padding: 10px 30px;
}


h1{
    text-align: center;
    background-color: var(--primeira-cor);
    color: var(--segunda-cor);
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    border: 2px solid rgba(0, 0, 0, 0.059);
}

p.paragrafo-topo{
    text-align: center;
    padding: 5px;
    border-radius: 0 0 10px 10px;
    border: 2px solid rgba(0, 0, 0, 0.059);
}

p.paragrafo-topo-dois{
    margin-top: 0;
    background-color: #c6c8e8;
}

h2{
    font-size: 1.9rem;
    background-color: var(--quarta-cor);
    color: var(--quinta-cor);
    padding: 12px;
    border-bottom: 3px solid var(--segunda-cor);
    border-radius: 10px;
    margin-top: 45px;
    margin-bottom: 25px;
}

.menu{
    text-align: center;
}

.menu li{
    display: inline-block;
}

.menu a{
    background-color: var(--quarta-cor);
    padding: 16px;
    display: inline-block;
    border-radius: 10px;
}


.menu a:hover{
    background-color: #333;
    color: white;
    text-decoration: none;
}
h3{
    margin-top: 20px;
}

h4{
    margin-top: 20px;
}

p{
    margin: 20px 0;
}

a{
    color: var(--sexta-cor);
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}

ul li{
    list-style: inside;
    /* margin: 20px 0; */
}