@charset "UTF-8";

:root{
    --primary-color: #004eda;
    --background-gray: #f2f2f8;
    --default-padding: 3.2rem;
    --black: #111;
    --color-text: #5a5a5f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    color: var(--color-text);
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 64px auto;
}

img{
    max-width: 100%;
}

.main-nav{
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.topnav{
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    grid-row: 2 / -1;
    grid-column: 2 / -1;
    background-color: var(--background-gray);

    display: grid;
    gap: var(--default-padding);
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;

    padding: var(--default-padding);
}

main > *{
    grid-column: span 2;
}

main > .grid-half{
    grid-column: span 1;
}

.mainNav-linkLogo{
    padding-left: var(--default-padding);
    padding-top: var(--default-padding);
    display: inline-block;
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.4rem;
}

.main-nav-menu, 
.main-nav-topnav_menu{
    list-style-type: none;
    padding-left: var(--default-padding);
}

.main-nav-menu a, 
.main-nav-topnav_menu a{
    display: inline-flex;
    align-items: center;
    gap: 0.8rem;
    text-decoration: none;
    color: #5a5a5f;
}

.main-nav-menu svg, 
.main-nav-topnav_menu svg{
    display: block;
    /* vertical-align: middle; */
}

.main-nav-topnav_menu{
    display: flex;
    gap: var(--default-padding);
    
}

.main-nav-menus{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding-top: var(--default-padding);
}

.main-nav-menu:last-child{
    padding-bottom: var(--default-padding);
}

.perfil{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-right: var(--default-padding);
}

.perfil_thumb{
    height: 48px;
    width: 48px;
    flex-shrink: 0;
}

.perfil_thumb img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.perfil_name{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--black);
    line-height: 1.2;
}

.perfil_rule{
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: color-mix(in srgb, var(--black), transparent 60%);
}

.summary{
    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--default-padding);
    gap: 20px;
}

article span{
    gap: 200px;
}

.line-left{
    border-left: 2px solid black;
    margin-left: 20px;
}