@charset "UTF-8";

:root{
    --primary-color: #004eda;
    --background-gray: #f2f2f8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 64px auto;
}

img{
    max-width: 100%;
}

.main-nav{
    grid-row: 1 / -1;
    grid-column: 1 / 2;
}

.topnav{
    grid-row: 1 / 2;
    grid-column: 2 / -1;
}

main{
    grid-row: 2 / -1;
    grid-column: 2 / -1;
}