@charset "UTF-8";

:root{
    --primary-color: #ff7833;
    --secondary-color: #31333b;
    --secondary-color-dark: #23252d;
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    margin: 0;
    color: #e7e7e7;
    background-color: #ccc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    line-height: 1.7;
}

h1{
    color: #a9a7a7;
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

h3, h4, h5, h6{
    color: var(--primary-color);
    font-size: 2rem;
    margin: 0;
}

h2{
    margin-top: 1rem;
    font-size: 2.6rem;
}

.conteudo-art{
    border-left: 1px solid var(--primary-color);
    font-size: 1.1em;
    padding: 0 0 0 2em;
    margin-bottom: 2.2em;
}

article{
    padding: 1em 0;
}

section{
    margin-bottom: 2rem;
}

p{
    font-size: 1.6rem;
}

.main-header{
    flex: 0 0 26rem;
    background-color: var(--secondary-color);
}

.conteudo-main{
    background-color: #444856;
    flex: 1 0;
    padding: 6.5rem 6rem 7.5rem;
}

.list_nav{
    list-style-type: none;
    padding: 0;
    /* padding: 0 2rem; */
}

a{
    color: inherit;
    text-decoration: none;
}

nav{
    /* display: flex;
    flex-direction: column; */
    text-align: right;
    padding: 6.5rem 2.4rem 2.4rem;
}

ul a{
    /* display: flex;
    justify-content: flex-end; */
    display: block;
    padding: 1.2rem 0;
    border-bottom: 1px solid #7b7b7b;
    /* transform: translateY(0); */
    transition: padding-right .2s, background-color .4s;
    background-color: transparent;
    
}

ul a:hover,
ul a:focus{
    background-color: #444856;
    /* transform: translateX(-5px); */
    padding-right: 1rem;
    
}

.main, .main-header{
    font-size: 1.6rem;
}

/* nav li{
     padding: .4rem 0; 
} */

.perfil-img{
    display: flex;
    margin: 0 auto;
    max-width: 10rem;
    /* padding: 6rem 0 1rem 0; */
}

.card{
    max-width: 740px;
    background-color: var(--secondary-color);
    padding: 0;
}

.card_content{
    padding: .5em 1em 1em;
}

.card_content p,
.card_title{
    margin: 0;
}

.card_title{
    font-size: 1.75em;
    margin-bottom: .25em;
}

.card img{
    max-width: 100%;
}

.row{
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    padding: 1.5rem 0;
    box-sizing: border-box;
}

.row .row{
    padding-top: 0;
}

.row > *{
    flex: 1 0 0%;
}

.alternate{
    list-style-type: none;
    padding-left: 0;
}

.alternate li{
    padding: 0;
}

.alternate li:not(:last-child){
    border-bottom: 2px solid white;
}

/* .alternate li:last-child{
    border-bottom: 0;
} */

.roman{
    list-style-type: upper-roman;
}

.list-emoji{
    list-style-type: "\1F642";
}

label{
    font-size: 1.4rem;
}

input,
label,
textarea,
select{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"]{
    width: auto;
}

input, 
textarea,
select{
    background-color: #ccc;
    padding: 1.2rem;
    border-radius: 5px;
    margin-bottom: 1.6rem;
    border: 0;
}

.btn{
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color-dark);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn:hover, .btn:focus{
    background-color: var(--secondary-color-dark);
}

.form-quiz{
    width: calc(50% - 1.5rem);
}

.btn-stroke{
    background-color: transparent;
}